.editor-toast-container {
    cursor: default;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: fit-content;
    display: none;
    opacity: 0;
    align-items: center;
    border-radius: 14px;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    color: #1f2937;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: all 300ms ease-in-out;

    & .editor-toast-content-wrapper {
        display: flex;
        padding: 10px 12px 10px 8px;

        & .editor-toast-content {
            padding-top: 2px;
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #374151;
            transform: translateY(-1px);
        }

        & i {
            min-width: 24px;
            width: 24px;
            min-height: 24px;
            height: 24px;
            background: no-repeat center center;
            background-size: 100%;
            margin-right: 6px;
            align-items: center;
        }
    }
}
